h1,h2,h3,h4,h5,
p,span ul{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
body{
font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;
}
#banner{
    background-image: url(../img/banner_bg.jpg);
    height: 500px;
}